{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Attention Check
{% endblock %}


{% block content %}
<style>
    /* Custom CSS code for horizontal scrolling of radio buttons */
    .scrollable-radio-buttons {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap; /* Ensure the buttons don't wrap to next line */
        width: 100%; /* Adjust the width as necessary */
    }
</style>



<div>
    <p style="margin-bottom: 0;">
        {{ question_6_text }}
    </p>
</div>

<div class="scrollable-radio-buttons">
    {% formfield form.question_6_answer %}
</div>

{% next_button %}
{% endblock %}








