{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Comprehension Questions
{% endblock %}


{% block content %}
<style>
    /* Custom CSS code for horizontal scrolling of radio buttons */
    .scrollable-radio-buttons {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap; /* Ensure the buttons don't wrap to next line */
        width: 100%; /* Adjust the width as necessary */
    }
</style>
<p>The questions below test your understanding of the instructions.</p>
<p><b>Important:</b> If you fail to answer all of these questions correctly on two consecutive attempts, you will not be allowed to participate in the study.</p>

<div>
    <p style="margin-bottom: 0; font-weight: bold;">{{ question_1_text }}</p>
    {% formfield form.question_1_answer %}
</div>
<br>
<br>
<div>
    <p style="margin-bottom: 0; font-weight: bold;">{{ question_2_text }}</p>
    <div style="text-align: center;">
    <img src="{{ static 'image/ex5.png' }}" style="width:100%; max-width:800px; height:auto;"/>
</div>
    {% formfield form.question_2_answer %}
</div>
{#<div>#}
{#    <p style="margin-bottom: 0;">#}
{#        {{ question_2_text }}#}
{#    </p>#}
{#</div>#}
{##}
{#<div class="scrollable-radio-buttons">#}
{#    {% formfield form.question_2_answer %}#}
{#</div>#}
<br>
<br>
<div>
    <p style="margin-bottom: 0; font-weight: bold;">{{ question_3_text }}</p>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="text-align: center;">
            <img src="{{ static 'image/ex6.png' }}" style="width:100%; max-width:800px; height:auto;"/>
            <p>Selection Method 1</p>
        </div>
        <div style="text-align: center;">
            <img src="{{ static 'image/ex7.png' }}" style="width:100%; max-width:800px; height:auto;"/>
            <p>Selection Method 2</p>
        </div>
    </div>
</div>
    {% formfield form.question_3_answer %}
</div>

{% next_button %}
{% endblock %}
