{% extends "global/Page.html" %}
{% load otree static %}
{% load static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<p>Please take some time to read the following instructions. </p>
<p>In the first part of the study you will <b>choose between various payment</b>, which pay different amounts at different points in time. An example decision is between the following two actual payments.</p>
<img src="{{ static 'image/example1.png' }}" style="width:100%; max-width:800px; height:auto;"/>
<p>In this example we are asking you (actually) would you rather be paid $20 in 12-19-2023 (Option A) or $15 immediately (Option B).</p>
<p>For this experiment, there are no right wrong answers, because how much you like an option depends on your personal taste. Just try your best to think hard about what you’d really prefer.</p>
<p>At the end of the experiment we will randomly select xx% of participants to <b>actually be paid their earnings as a bonus today</b> from a randomly selected choice.</p>
    {% next_button %}
{% endblock %}


