{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<p>When you fill out a choice list, you may feel uncertain about whether you prefer the left or right payment option. On the <b>second</b> decision screen, we will ask you to select a button to indicate <b>how certain</b> you are how much money the earlier payment is worth to you in terms of dollars at the later payment date.</p>
<p>In this question, we are interested in <b>your uncertainty about your own preferences</b> regarding these payments.</p>
    <p><b>Example</b>: Suppose that on the first decision screen you indicated that you valued $20 in 15 days somewhere <b>between $6 and $7</b> today. Your second decision screen would look like this.</p>
<div style="text-align: center;">
    <img src="{{ static 'image/ex4.png' }}" style="width:100%; max-width:800px; height:auto;"/>
</div>
    <br>
    <br>
    {% next_button %}
{% endblock %}


